
<h1>Articles List</h1>

<table>
<thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
<thead>

<tbody>
    <% @articles.each do |article|%>        
    <tr>
    <td>
        <strong>
           <%= article.title %>
        </strong>
    </td>
     <td>
        <strong>
           <%= article.description %>
        </strong>
    </td>
    <td>
        <strong>
           <%= link_to "show", article_path(article.id) %>
        </strong>
    </td>
    <td>
        <strong>
           <%= link_to "edit", edit_article_path(article) %>
        </strong>
    </td>
    <td>
        <strong>
           <%= button_to "Delete", article_path(article), method: :delete, data: {turbo_confirm: "Are you sure?"} %>
        </strong>
    </td>
    </tr>
<% end %>
</tbody>
</table>


<p>
    <%= link_to "Create new Article", new_article_path %>
</p>
